.circle{
    width: 22.6%;
    height: 45.8%;
    border: 18px solid;
    border-top-color: crimson;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    background-color: rgb(106, 103, 103);
    position: absolute;
    top: 27%;
    left: 38%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: unset;
}

.circle:hover{
    
    transform: scale(1) rotate(360deg);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
body{
    background-color: blue;
}
.rwad{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800px;
    font-size: 1.5rem;
    position:absolute ;
    top: 44.4%;
    left: 46.5%;
    color: aliceblue;
    margin: 0;
    padding: 0;
}